<!-- FOOTER -->
<!-- Site footer -->
<footer class="fixed-bottom">
	<div class="left">
		<div class="contact">
			<h2>Contact Us</h2>
			<p>Unit 11, Bluebird Industrial Estate</p>
			<p>Off park lane</p>
			<p>WV10 9QQ</p>
		</div>
	</div>
	<div class="sitemap unstyled">
		<h5>Site Map</h5>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Who we are</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
</footer>