<div class="container-fluid">

   <div class="blue-car">
   <p><img class="img-responsive" src="../images/BlueBrand.png"></p>
   </div>
	<!-- Jumbotron -->
	<div class="jumbotron">
		<h1>Fix your car with us</h1>
		<p class="lead">We offer various types of services for your car, from basic oil replacement to a more complicated issues, like changing of car engines. Contact us today for any issue your car may be experiencing. We also offer free car diagnose.</p>
		<p><a class="btn btn-lg btn-success" href="#" role="button">Call us now</a>  <b>+4407926117077</b></p>
	</div>
	<!-- Example row of columns -->
	<div class="services">
		<h2>Services</h2>
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Oil changing</a></li>
					<li class="list-group-item"><a href="#">Oil changing</a></li>
					<li class="list-group-item"><a href="#">Oil changing</a></li>
					<li class="list-group-item"><a href="#">Oil changing</a></li>
					<li class="list-group-item"><a href="#">Oil changing</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-md-4">
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Oil changing</a></li>
					<li class="list-group-item"><a href="#">Oil changing</a></li>
					<li class="list-group-item"><a href="#">Oil changing</a></li>
					<li class="list-group-item"><a href="#">Oil changing</a></li>
					<li class="list-group-item"><a href="#">Oil changing</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-md-4">
				<ul class="list-group">
					<li class="list-group-item"><a href="#">Oil changing</a></li>
					<li class="list-group-item"><a href="#">Oil changing</a></li>
					<li class="list-group-item"><a href="#">Oil changing</a></li>
					<li class="list-group-item"><a href="#">Oil changing</a></li>
					<li class="list-group-item"><a href="#">Oil changing</a></li>
				</ul>
			</div>
		</div>
		
	</div>